/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $gray transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $gray;
}
