%floatingLabel {
  label {
    position: absolute;
    top: calc(50% - 9.5px);
    left: 16px;
    cursor: pointer;
    color: $text-gray;
    pointer-events: none;
    transition: 0.2s ease all;
  }
}

%lnsInput {
  position: relative;
  border-radius: 5px;
  border: 1px solid $input-border;
  letter-spacing: -0.38px;
  height: 60px;
  width: 100%;
  padding: 10px 16px 0;
}

%lnsSelect {
  appearance: none;
  background: transparent no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  cursor: pointer;
}

%lnsDate {
  @extend %lnsInput;
  @extend %lnsSelect;
}
