.logoImg {
  width: 250px;
  height: 66.77px;
}

.centerPage {
  height: 576px;
  width: 40vh;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginPage {
  display: flex;
  justify-content: center;
}

.myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.loginInputs {
  width: 100%;
  height: 60px;
  display: block;
  margin-top: 40px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #22306333;
  border-width: 1px;
  text-align: left;
  font: normal normal normal 15px/20px Axiforma;
  letter-spacing: -0.38px;
  color: #949494;
  opacity: 1;
 
}

@font-face {
  font-family: "axiforma-bold";
  src: local("axiforma-bold"),
    url("../../assets/fonts/axiforma/axiforma-bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "axiforma-regular";
  src: local("axiforma-regular"),
    url("../../assets/fonts/axiforma/axiforma-regular.otf") format("truetype");
  font-weight: bold;
}

.mainTitle {
  font-family: "axiforma-bold";
  font-size: 30px;
  letter-spacing: -0.9px;
}
.credentials {
  font-family: "axiforma-regular";
  font-size: 15px;
  margin: 0;
}
