@font-face {
  font-family: Calibri;
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  src: url('/assets/fonts/calibri/calibri-regular.otf') format('opentype');
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  src: url('/assets/fonts/calibri/calibri-bold.otf') format('opentype');
}
